*{
    font-family: 'Montserrat', sans-serif;
    border-radius: 0 !important;
}
.nav-link.active{
    color: #f9aa0c;
    border-bottom: 3px solid #f9aa0c;
}
.accent{
    color: #f9aa0c;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #1C2331;
    color: #f9aa0c !important;
}
.selected{
    color: white;
    background-color: #f9aa0c;
}
.socials{
    font-size: 2.375rem;
}
.disclaimer{
    margin-top: 0;
    font-size: .75rem;
    color: #737373;
}
#logo {
    margin: 0;
    font-weight: 900;
}